[server]
port=".{{ salt['pillar.get']('drone:port', '443') }}"

[server.ssl]
key="{{ salt['pillar.get']('drone:ssl_key', '/etc/pki/drone/certs/drone.key') }}"
cert="{{ salt['pillar.get']('drone:ssl_cert', '/etc/pki/drone/certs/drone.crt') }}"

[database]
driver="sqlite3"
datasource="/var/lib/drone/drone.sqlite"

[github]
client="{{ salt['pillar.get']('drone:github_client', '') }}"
secret="{{ salt['pillar.get']('drone:github_secret', '') }}"
